/* .navbar {
  padding: o 16px;
  display: flex;
  height: 56px;
  flex-direction: row;
  align-items: center;
  left: 20px;
}
.container {
  display: flex;
  flex-direction: row;
}

.nav-start {
  width: 20%;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  background: cyan;
}

.nav-center {
  width: 50%;
  background: khaki;
}
.nav-end {
  background: lightcoral;
  align-items: center;
}*/
/* * {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  display: flex;
  position: relative;
}
.navbar {
  align-items: center;
  display: inline-block;
  background: cyan;
  flex-direction: row;
} */
body {
  background: transparent;
  margin: 10 auto;
}
.wrapper {
  width: 90%;
  margin: 10 auto;
  background: transparent;
}
.wrapper::after {
  content: "";
  display: table;
  clear: both;
}
.sidebar {
  float: left;
}
.sidebar ul {
  list-style: none;
  padding-left: 10px;
  background: thistle;
}
.sidebar li {
  padding-top: 10px;
  margin-top: 20px;
}
.sidebar a {
  text-decoration: none;
  color: #444;
}
.navbar {
  float: right;
}
.navbar ul {
  list-style: none;
  background: tomato;
}
.navbar li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 5px;
}
